<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.dpdk.core.vhost.analysis.DpdkVhostAnalysisModule"
            automatic="false"
            id="org.eclipse.tracecompass.incubator.dpdk.vhost.analysis"
            name="DPDK Vhost Analysis">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.tmf.core.trace.TmfTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.dpdk.core.lcore.analysis.DpdkLogicalCoreAnalysisModule"
            automatic="false"
            id="org.eclipse.tracecompass.incubator.dpdk.lcore.analysis"
            name="DPDK LCore Analysis">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.tmf.core.trace.TmfTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.dpdk.core.lpm.analysis.DpdkLpmObjectLookupAnalysisModule"
            automatic="false"
            id="org.eclipse.tracecompass.incubator.dpdk.lpm.object.lookup.analysis"
            name="DPDK LPM Analysis">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.tmf.core.trace.TmfTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.dpdk.core.classifier.analysis.DpdkClassifierAnalysisModule"
            automatic="false"
            id="org.eclipse.tracecompass.incubator.dpdk.classifier.analysis"
            name="DPDK Classifier Analysis">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.tmf.core.trace.TmfTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.dpdk.core.table.analysis.DpdkTableAnalysisModule"
            automatic="false"
            id="org.eclipse.tracecompass.incubator.dpdk.tables.analysis"
            name="DPDK Table Analysis">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.tmf.core.trace.TmfTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.dpdk.core.pipeline.analysis.DpdkPipelineAnalysisModule"
            automatic="true"
            id="org.eclipse.tracecompass.incubator.dpdk.pipeline.analysis"
            name="DPDK Pipelines Analysis">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.tmf.core.trace.TmfTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.dpdk.core.eventdev.analysis.DpdkEventDevAnalysisModule"
            automatic="true"
            id="org.eclipse.tracecompass.incubator.dpdk.eventdev.analysis"
            name="DPDK EventDev Analysis">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.tmf.core.trace.TmfTrace">
         </tracetype>
      </module>
   </extension>
   <extension
         point="org.eclipse.tracecompass.tmf.core.dataprovider">
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.dpdk.core.lpm.analysis.DpdkLpmObjectLookupHitPercentageDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.dpdk.lpm.object.lookup.hit.miss.ratio.data.provider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.dpdk.core.lpm.analysis.DpdkLpmPerRuleHitRateDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.dpdk.lpm.per.rule.lookup.hit.rate.data.provider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.dpdk.core.classifier.analysis.ClassifierPerRuleLookupHitRateDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.internal.dpdk.classifier.per.rule.lookup.hit.rate.data.provider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.dpdk.core.table.analysis.TableLookupHitRateDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.internal.dpdk.table.lookup.hit.rate.data.provider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.dpdk.core.pipeline.analysis.PipelinePortsPacketRateDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.internal.dpdk.core.pipeline.ports.packets.rate.data.provider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.dpdk.core.pipeline.analysis.InterPipelinesPacketRateDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.internal.dpdk.core.interpipeline.packets.rate.data.provider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.dpdk.core.vhost.analysis.DpdkVhostUserPacketRateDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.dpdk.vhost.packet.rate.data.provider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.dpdk.core.vhost.analysis.DpdkVhostUserAvailDescrDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.dpdk.vhost.data.provider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.dpdk.core.eventdev.analysis.EventDevRingBufferOccupationDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.internal.dpdk.core.eventdev.analysis.data.provider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.dpdk.core.eventdev.analysis.EventDevInflightCreditDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.internal.dpdk.core.eventdev.inflight.credit.data.provider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.dpdk.core.eventdev.analysis.EventDevPortEnqueueDequeueRateDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.internal.dpdk.core.eventdev.enqueue.dequeue.data.provider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.dpdk.core.eventdev.analysis.EventDevPerStageLoadPercentageDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.internal.dpdk.core.eventdev.per.stage.load.percentage.data.provider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.dpdk.core.eventdev.analysis.EventDevPortCurrentLoadDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.internal.dpdk.core.eventdev.port.current.load.data.provider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.dpdk.core.pipeline.analysis.PipelineRingQueueOccupancyDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.internal.dpdk.core.pipeline.ring.queue.occupancy.data.provider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.dpdk.core.pipeline.analysis.PipelineRingQueueLatencyDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.internal.dpdk.core.pipeline.ring.queue.latency.data.provider">
      </dataProviderFactory>
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.dpdk.core.pipeline.analysis.PipelinePortsBusynessDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.internal.dpdk.core.pipeline.ports.busyness.data.provider">
      </dataProviderFactory>
   </extension>

</plugin>
