<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.dpdk.core.lpm.analysis.DpdkLpmAnalysisModule"
            automatic="true"
            id="org.eclipse.tracecompass.incubator.dpdk.lpm.analysis"
            name="DPDK LPM Analysis">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.tmf.core.trace.TmfTrace">
         </tracetype>
      </module>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.dpdk.core.lcore.analysis.DpdkLogicalCoreAnalysisModule"
            automatic="true"
            id="org.eclipse.tracecompass.incubator.dpdk.lcore.analysis"
            name="DPDK LCore Analysis">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.tmf.core.trace.TmfTrace">
         </tracetype>
      </module>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.tracecompass.incubator.internal.dpdk.core.vhost.analysis.DpdkVhostAnalysisModule"
            automatic="false"
            id="org.eclipse.tracecompass.incubator.dpdk.vhost.analysis"
            name="DPDK Vhost Analysis">
         <tracetype
               applies="true"
               class="org.eclipse.tracecompass.tmf.core.trace.TmfTrace">
         </tracetype>
      </module>
   </extension>
   <extension
         point="org.eclipse.tracecompass.tmf.core.dataprovider">
      <dataProviderFactory
            class="org.eclipse.tracecompass.incubator.internal.dpdk.core.lpm.analysis.DpdkLpmHitRateDataProviderFactory"
            id="org.eclipse.tracecompass.incubator.dpdk.lpm.lookup.success.rate.data.provider">
      </dataProviderFactory>
   </extension>

</plugin>
